@model CreateRecipeInputModel

@{
    this.ViewData["Title"] = "Add new Recipe";
}

<h1>@this.ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Instructions"></label>
        <textarea asp-for="Instructions" class="form-control", rows="5"></textarea>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary"/>
</form>